@model Frontend.MVC.Models.AcceptViewModel

@{
    ViewData["Title"] = "Accepter un rôle.";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">

        <form asp-action="Accept">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="MeetingId" />
            <input asp-for="AttendeeId" />

            Date : @Html.DisplayFor(model => model.MeetingDate)<br />
            Thème : @Html.DisplayFor(model => model.MeetingName)<br />
            Role : @Html.DisplayFor(model => model.RoleName)<br />

            <div class="form-group">
                Membre
                <select asp-for="MemberId" asp-items="Model.Members">
                    <option value="">- Sélectionner un membre -</option>    
                </select>
                <span asp-validation-for="MemberId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Accepter" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour au calendrier</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
