<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Francis Grignon">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Les Orateurs - ###date### (Thème : ###theme###)</title>
</head>
<body class="bg-white">
    <div class="container">
        <div class="py-5 text-left">
            <p>Bonjour,</p>
            <p>Veuillez consulter le calendrier ci-dessous pour la rencontre de la semaine prochaine (###date###) et VÉRIFIER SI VOUS AVEZ UN RÔLE*.</p>
            <p>Y a-t-il des volontaires* pour :</p>
            <ul>
                ###roles###
            </ul>
            <div class="alert alert-warning" role="alert">
                * Veuillez RÉPONDRE À TOUS (« reply all ») pour choisir un rôle ou pour aviser de votre absence si vous aviez un rôle prévu à l’horaire.
            </div>
        </div>

        <div>
            ###calendar###
        </div> 

        <div class="py-5 text-left">
            <p>Pour les employés de Statistique Canada, vous pouvez consulter le répertoire partagé (\\fld6filer\Toastmasters\Les Orateurs de Statcan\) pour trouver quelques documents de référence en anglais et en français, ainsi que l’ordre du jour et le calendrier des rencontres.</p>
            <p>Les rencontres ont lieu de 12h-13h les mardis dans la salle SC-1206 (immeuble Principal). Les visiteurs sont toujours les bienvenus!</p>
            <p>* Pour la rencontre, il est de votre responsabilité d’apporter :</p>
            <ol>
                <li>Votre copie de l’ordre du jour.</li>
                <li>Votre manuel « Devenir un leader » et votre manuel « Savoir communiquer », OU vos feuilles imprimées d’évaluation de projet Pathways le cas échéant.</li>
            </ol>
            <p>À bientôt!</p>
            <p>Cordialement,</p>
            <p>Francis Grignon</p>
            <p><a href="mailto:francis.grignon@canada.ca">francis.grignon@canada.ca</a></p>
            <p><a href="tel:+16135137165">613.513.7165</a></p>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>